* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background: url("Background.jpg") no-repeat center / cover;
  backdrop-filter: blur(2px);
  height: 100vh;
  max-width: 100%;
}
.top-container {
  margin: 15px;
  top: 100px;
  z-index: -1000;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.514);
  border: 0.5px solid #ff000000;
  padding: 10px 15px;
  border-radius: 12px 12px 12px 12px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 45px;
}

.logo-text {
  font-size: 15px;
  color: #8b0000;
  font-weight: bold;
}
.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.navbar a {
    color: white;
}
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .nav-links ul   {
    display: flex;
    font-size: 1.2rem;
    margin-top: -27px;
}
.navbar .nav-links ul li a {
    color: rgb(138, 0, 0);
    padding: 10px 15px;
    transition: all 0.3s ease;
}
.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .menu-icon {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 70px;
    margin-right:0;
    transition: all 0.5s ease;
}
.active {
        display: none;
}
    .subject-section {
      flex: 2 1 500px;
      display: flex;
      flex-direction: column;
      gap: 17px;
    }
    .subject-box {
      background-color: rgba(128, 0, 0, 0.74);
      backdrop-filter: blur(7px);
      position: relative;
      z-index: -1;
      border-radius: 10px;
      padding:  15px; 
      text-align: center;
      font-weight: bold;
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }
    .subject-box:hover {
      transform: scale(1.05);
    }

    .subject-header {
      text-align: left;
      margin-top: 10px;
      font-size: 25px;
      color: maroon;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif, sans-serif;
}
.list {
      background-color: rgba(128, 0, 0, 0.74);
      backdrop-filter: blur(7px);
      position: relative;
      z-index: -1;
      border-radius: 10px;
      padding:  10px; 
      width: 45%;
      text-align: left;
      font-weight: bold;
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
}
.grade {
      background-color: rgba(156, 156, 156, 0.74);
      backdrop-filter: blur(7px);
      position: relative;
      z-index: -1;
      border-radius: 10px;
      padding:  10px; 
      width: 45%;
      text-align: left;
      font-weight: bold;
      color: rgb(0, 0, 0);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
}
  .name-col.section{
    background:#8b2626;
    color:#000;
    text-align:center;
    font-weight:bold;
  }
    th, td{
    border:1px solid #333;
    padding:1px 3px;
    font-size:11px;
  }
    th{
    background:#e6e6e6;
    text-align:center;
  }
  .name-col{
    color:#000000;
    font-weight:bold;
    min-width:20px;
  }
  .blank{
    text-align: center;
    align-items: center;
}
.name{
  font-weight:bold;
  text-align:left;
  min-width:10px;
}
input{
  width: 200px;
  align-items:center;
  text-align: center;
  
}

@media screen and (max-width: 1990px) {
.name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 170px;
  border:none;
  align-items:center;
  text-align: center;
}
}
@media screen and (max-width: 1880px) {
.name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 170px;
  border:none;
  align-items:center;
  text-align: center;
}
@media screen and (max-width: 1785px) {
      .name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 150px;
  border:none;
  align-items:center;
  text-align: center;
  
}
@media screen and (max-width: 1640px) {
      .name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 140px;
  border:none;
  align-items:center;
  text-align: center;
  
}
@media screen and (max-width: 1530px) {
      .name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 100px;
  border:none;
  align-items:center;
  text-align: center;
  
}
@media screen and (max-width: 1175px) {
      .name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 30px;
  border:none;
  align-items:center;
  text-align: center;
  
}
@media screen and (max-width: 433px) {
      .name{
  font-weight:bold;
  text-align:left;
  min-width:0px;
}
input{
  width: 20px;
  border:none;
  align-items:center;
  text-align: center;
  
}
    
}
@media screen and (max-width: 1200px) {
    .navbar{
        padding: 0%;
    }
    .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    }
    .navbar .menu-icon {
        display: block;
    }  
    .nav-links {
        top: 67px;
        right: 15px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.685);
        backdrop-filter: blur(7px);
        border: #580000 solid 0.5px;
        width: 25%;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: top;
        margin-right: 100%;
    }
    .nav-links.mobile-menu {
    margin-right: 0;
    }
    .nav-link:hover {
    transform: scale(1.05);  
    color: #800000;
    }
    .nav-links.mobile-menu {
    margin-right: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .nav-links {
        width: 45%;
    }
    .navbar .menu-icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 50px;
    margin-right:0;
    transition: all 0.5s ease;
    }
    .logo-text {
    font-size: 10px;
    color: #8b0000;
    font-weight: bold;
}
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1rem;
}
  .name-col.section{
    background:#8b2626;
    color:#000;
    text-align:center;
    font-weight:bold;
  }
    th, td{
    border:1px solid #333;
    padding:0px 1px;
    font-size:8px;
  }
    th{
    background:#e6e6e6;
    text-align:center;
  }
  .name-col{
    color:#080808;
    font-weight:bold;
    min-width:20px;
  }
}
}
}
}
}
}